// Inline turns list items into inline-block
@mixin list-inline {
  @include list-unstyled;
  margin-left: -5px;

  > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
  }
}

// Unstyle a list
@mixin list-unstyled {
  padding-left: 0;
  list-style: none;
}
