.carousel {
  .carousel-indicators {
    left: auto;
    right: 20px;
    bottom: 10px;
    margin: 0;
    text-align: right;

    li {
      margin: 0 0 0 8px;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      background: #cdcdcd;
      opacity: 1;
      width: 7px;
      height: 7px;
      -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }

    .active {
      background: $orange;
    }
  }
}
