#large-search-box {
  background-color: $blue;
  z-index: 1;

  @media (min-width: $screen-sm-min) {
    padding-left: $base-spacing*4;
    padding-right: $base-spacing*4;
  }

  h3 {
    margin-top: 0;
    padding-top: $base-spacing;
    color: $purple;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
  }

  .search-form {

    .input-group {
      padding-bottom: $base-spacing*1.5;
      width: 100%;

      label {
        width: 100%;
        display: block;
      }

      .input-group-btn {
        width: 1%;

        button {
          @include button-variant($white, $purple, $purple);
        }
      }

    }
  }
}

.page-template-page-ramp-search-php .content.row, .page-template-page-ramp-search-provider-php .providers.row {
  margin:0;
}

.page-template-page-ramp-search-location .main .search-form, .page-template-page-ramp-search-provider-php .main .search-form,
.page-template-page-ramp-search-php .main .search-form {
  width: 100%;
  display: inline-block;

  .form-group { 
    width: 100%;
  }
  #query {
    @include make-xs-column(12);
    @include make-md-column(8);
    padding: 0 0 $base-spacing 0;

    label {
      width: 100%;
      display: block;
    }

    input {
      border: 1px solid #ccc;
    }

    .input-group-btn {
      width: 1%;
    }

    button {
      @include button-variant($white, $blue, $blue)
    }
  }

  #specialty, #language, #gender {
    @include make-xs-column(12);
    @include make-md-column(3);
    padding: 0 0 $base-spacing 0;

    @media(min-width: $screen-md-min) {
      padding: 0 19px;
    }
  }
  
  #specialty {
    @include make-md-column(5);
    padding: 0 0 $base-spacing 0;


    @media(min-width: $screen-md-min) {
      padding-left: 0px;
    }
  }

  #clear, #toggleFilters {
    @include make-xs-column(12);
    @include make-sm-column(12);
    @include make-md-column(1);
    margin: 0;

    padding: 0;

    @media(min-width: $screen-md-min) {
      padding: 0;
    }

    #clearButton, #toggleFiltersButton {
      @include button-variant($white, $green, $green);
      margin: 0;
      width: 100%;
    }
  }

  #clear {
    padding: 0 0 $base-spacing 0;
  }
  
  #toggleFilters {
    @media(min-width: 992px) {
      display: none;
    }
    
    padding-left: 0px;
  }

  #filters {
    display: none;

    @media(min-width: $screen-md-min) {
      display: block;
    }
  }

  #activeFilterNotification {
    display: none;
    @include make-xs-column(12);
    padding: $base-spacing 0 0 0;
    margin: 0;

    @media(min-width: $screen-md-min) {
      padding: 0;
    }
  } 
}


.page-template-page-ramp-search-provider-php .providers-pagination-label {
  float: left;
  margin-right: 4px;
}

.page-template-page-ramp-search-provider-php .providers-paginationTop, .page-template-page-ramp-search-provider-php .providers-paginationBottom {
  li {
    padding: 0 2px;
  }

  a {
    padding: 5px 10px;
  }

  li.active a, a:hover {
    color: white;
    background-color: $link-color;
    text-decoration: none;
  }

  li.disabled {
    padding: 0;

    a, a:hover {
      text-decoration: none;
      color: $text-color;
      background-color: transparent;
      cursor: default;
      padding: 0;
    }
  }

}
.page-template-page-ramp-search-provider-php {
  ul {
    padding: 0;
    margin-left: -1px;
  }

  .languages {
    display: none;
  }
}

.page-template-page-ramp-search-location .main .search-form {
  #filters {
    @include make-row;
  }

  #zip, #distance {
    @include make-xs-column(12);
    @include make-sm-column(6);
    @include make-md-column(3);

    margin-bottom: 20px;

    label {
      margin-bottom: 5px;
    }
  }

  #filterButtons {
    @include make-xs-column(12);
    @include make-md-column(6);
    
    @media(min-width: $screen-md-min) {
      padding-left: 0px;
    }
  }

  #useLocButton, #clearButton, #distFilterButton {
    margin-top: 26px;

    @media(max-width: $screen-sm-max) {
      width: 100%;
      margin-top: 10px;
    }
  }

  #clearButton {
    @include button-variant($white, $green, $green);
    @media(min-width: $screen-md-min) {
      margin-left: $base-spacing*2;
    }
  }

  #or {
    vertical-align: bottom;
    padding: 0px 10px 7px;
    display: inline-block;

    @media(max-width: $screen-sm-max) {
      width: 100%;
      text-align: center;
      margin-top: 10px;
      padding: 0;
    }
  }
}


.services-search-results {
  //background-color: $light-tan;
  //margin-bottom: $base-spacing;
  //padding: $base-spacing;

  .list-group.row {
    margin: 0px;
    padding: 0px;

    .list-group-item {
      padding: 0px;
      margin-bottom: 5px;
      background-color: transparent;
      border: none;
    }
  }
}

/* Typeahead Styles */
span.twitter-typeahead .tt-menu,
span.twitter-typeahead .tt-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000 !important;
  display: none;
  float: left;
  min-width: 160px;
  width: 100%;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;

  a.tt-suggestion, a.tt-suggestion:active, a.tt-suggestion:visited {
    color: #333333;
  }

  a.tt-suggestion:hover {
    color: white;
  }

  h4 {
    margin-left: 10px;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.2;
    color: $gold;
  }
}

span.twitter-typeahead .tt-suggestion {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
  //white-space: nowrap;
}

span.twitter-typeahead .tt-suggestion.tt-cursor,
span.twitter-typeahead .tt-suggestion:hover,
span.twitter-typeahead .tt-suggestion:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #337ab7;
}

.input-group.input-group-lg span.twitter-typeahead .form-control {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}

.input-group.input-group-sm span.twitter-typeahead .form-control {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

span.twitter-typeahead {
  width: 100%;
}

.input-group span.twitter-typeahead {
  display: block !important;
  //height: 34px;
}

.input-group span.twitter-typeahead .tt-menu,
.input-group span.twitter-typeahead .tt-dropdown-menu {
  top: 32px !important;
}

.input-group span.twitter-typeahead:not(:first-child):not(:last-child) .form-control {
  border-radius: 0;
}

.input-group span.twitter-typeahead:first-child .form-control {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group.input-group-sm span.twitter-typeahead {
  height: 30px;
}

.input-group.input-group-sm span.twitter-typeahead .tt-menu,
.input-group.input-group-sm span.twitter-typeahead .tt-dropdown-menu {
  top: 30px !important;
}

.input-group.input-group-lg span.twitter-typeahead {
  height: 46px;
}

.input-group.input-group-lg span.twitter-typeahead .tt-menu,
.input-group.input-group-lg span.twitter-typeahead .tt-dropdown-menu {
  top: 46px !important;
}

.tt-dataset h4 {
  margin-left: 10px;
}

span.twitter-typeahead {
  a.tt-suggestion.more, a.tt-suggestion.more:active, a.tt-suggestion.more:visited, a.tt-suggestion.more:hover {
    margin: 10px 20px;
    color: white;
  }
}

#footer-search {
  .tt-menu {
    top: auto !important;
    bottom: 0px;
  }
}
