.uwm-widgets {
  .widget {
    @include btn;
    padding: $base_spacing/2;
    margin: 5px 0px;
    width: 100%;
    color: white;
    text-align: center;
  }

  .widget:last-of-type {
    margin-bottom: 10px;
  }
  
  .find-a-doctor {
    @include button-variant($white, $blue, $blue);
  }

  .request-an-appointment {
    @include button-variant($white, $green, $green);
  }

  .eCare {
    @include button-variant($white, $gold, $gold);
  }

  .virtual-care {
    @include button-variant($white, $purple, $purple);
  }

  .accepting-patients {
    clear: both;
  }
}

#right-sidebar {

  a:first-of-type {
    margin-top: 0px;
  }

  .widget {
    padding: $base_spacing/2;
    margin: 5px 0px;
    width: 100%;
    color: white;
    text-align: center;
  }

  .find-a-doctor {
    @include button-variant($white, $blue, $blue);
  }

  .request-an-appointment {
    @include button-variant($white, $green, $green);
  }

  .eCare {
    @include button-variant($white, $gold, $gold);
  }

  .virtual-care {
    @include button-variant($white, $purple, $purple);
  }
}