html {
  background-color: $gold;
}

body {
  overflow-x: hidden;
}

.container {
  @media(max-width: $screen-xs-max) {
    padding: 0;
  }
}

.search-form {
  button {
    @include button-variant($light-tan, $gold, $gold);

    .label {
      text-transform: uppercase;
      color: $gold;
    }
  }

  .form-control {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}

li.page_item_has_children > a::after {
  content: "\00A0\00BB";
}
