@media print {
  a[href]:after {
    content: "";
  }

  .header-right, .header-separator, .nav-primary, .sidebar {
    display: none !important;
  }

  .logo {
    margin-bottom: 0px !important;
  }

  .main {
    width: 100% !important;
    margin-bottom: 20px;
  }

  #breadcrumbs {
    margin-top: 0px !important;
  }

  .page-header {
    margin: 0px 0px 20px 0px !important;
  }

  .header-image, #header-image, .uwm-widgets, .key-contacts {
    display: none !important;
  }

  .collapse {
    display: block !important;
    height: auto !important;
  }

  #right-sidebar img {
    max-width: 200px !important;
    float: left !important;
    margin-right: 20px !important;
  }

  footer {
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;

    p {
      font-size: 12px !important;
    }
  }

  #footer-logo, #footer-social-media, #footer-menus, #footer-search {
    display: none;
  }

  #footer-contact-information {
    padding: 0px;
  }

  img.provider-photo {
    max-width: 150px !important;
    margin: 0px 20px 20px 0px !important;
    float: left;
  }

  .provider-data {
    display: inline !important;
  }

  .page-template-page-location-php .contact .buttons {
    display: none;
  }

  .location-photo {
    display: none !important;
  }
}
