/* Any updates to parent theme varaibles need to be replicated here */

$font-size-base: 14px !default;
$line-height-base: 1.428571429 !default; // 20/14
// Glyphicons font path
//$icon-font-path:        "../../fonts/";

$brand-primary:         darken(#428bca, 6.5%) !default; // #337ab7
$gray-base:              #000 !default;
$gray-dark:              lighten($gray-base, 20%) !default;   // #333

$link-color:            $brand-primary !default;
$text-color:            $gray-dark !default;

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Primary Palette
$gold:         #856822;
$medium-tan:   #e5dec5;
$light-tan:    #f6f3e1;

// Secondary Palette
$purple:       #241773;
$green:        #898f4b;
$yellow:       #efcb65;
$blue:         #93b1cc;
$orange:       #ff9133;

// Accent Palette
$red:          #cf2f44;
$gray:         #77787b;
$black:        #000000;
$white:        #ffffff;

// Additional Colors
$header-tan: #f8f5e0;
$nav-primary-tan: #f4f1e7;
$gray-accent: #f7f7f7;
$medium-gold: #a29061;

// Change default colors
$table-bg-accent: $header-tan;

// Default Spacing
$line-height-computed: 20px;
$base-spacing: $line-height-computed;

//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs:                  480px !default;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs !default;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:          $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;

//== Grid system
//
//## Define your custom responsive grid.

//** Number of columns in the grid.
$grid-columns:              12 !default;
//** Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width:         38px !default;
// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
$grid-float-breakpoint:     $screen-sm-min !default;
//** Point at which the navbar begins collapsing.
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1) !default;

//== Components
//
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).

$padding-base-vertical:     6px !default;
$padding-base-horizontal:   12px !default;

$padding-large-vertical:    10px !default;
$padding-large-horizontal:  16px !default;

$padding-small-vertical:    5px !default;
$padding-small-horizontal:  10px !default;

$padding-xs-vertical:       1px !default;
$padding-xs-horizontal:     5px !default;

$line-height-large:         1.3333333 !default; // extra decimals for Win 8.1 Chrome
$line-height-small:         1.5 !default;

$border-radius-base:        4px !default;
$border-radius-large:       6px !default;
$border-radius-small:       3px !default;

//== Buttons

//== Buttons

$btn-font-weight:                normal !default;
$btn-default-color:              #333 !default;
$btn-default-bg:                 #fff !default;
$btn-default-border:             #ccc !default;

// Allows for customizing button radius independently from global border radius
$btn-border-radius-base:         $border-radius-base !default;
$btn-border-radius-large:        $border-radius-large !default;
$btn-border-radius-small:        $border-radius-small !default;

//** Disabled cursor for form controls and buttons.
$cursor-disabled:                not-allowed !default;