.page-template-page-ramp-search-provider-php {
  .provider-container {
    @include make-md-column(6);
    padding: 0;
  }

  .providers li:nth-of-type(odd) {
    clear: left;
    @media(min-width: $screen-md-min) {
      padding-left: 0px;
      padding-right: 19px;
    }
  }

  .providers li:nth-of-type(even) {
    @media(min-width: $screen-md-min) {
      padding-right: 0px;
      padding-left: 19px;
    }
  }
}

.page-template-page-child-providers-php {
  .provider-container {
    @include make-md-column(12);
  }
}


.page-template-page-child-providers-php, .page-template-page-ramp-search-provider-php {

  .providers {
    padding-left: 0px;
  }

  .provider-entry {
    padding: 15px;
    margin-bottom: 20px;
    display: inline-block;
    border: 1px solid #ccc;
    width: 100%;
    clear: both;

    .provider-name {
      h3 {
        margin-top: 0px;
      }
    }

    .provider-photo {
      margin-top: 0px;
      margin-bottom: 0px;
      text-align: center;

      @media (max-width: $screen-xs-max) {
        display: block;
        margin: 0 auto;
      }

      @media (min-width: $screen-sm-min) {
        float: left;
      }

      a {
        margin-top: 0px;
        display: inline-block;
      }

      img {
        float: left;
        max-width: 100%;

        @media (min-width: $screen-sm-min) {
          max-height: 180px;
        }
      }

      p.accepting-patients {
        margin-top:10px;
        font-size: 12px;
        margin-bottom: 10px;

        @media (min-width: $screen-sm-min) {
          margin-bottom: 0;
          clear:both;
        }
      }

      p.appointment-request {
        .btn {
          font-size: 12px;
          margin: 0px;
          padding: 6px 10px;
        }
      }
    }

    .provider-bio {
      padding-left: 0px;

      .row {
        margin: 0px;
      }
      
      ul.expertises, ul.languages {
        padding-left: 0px;

        li {
          display: inline-block;
          border-radius: 4px;
          padding: $base-spacing/4;
        }
      }

    .col-md-6, .col-md-7 {
        @media(min-width: $screen-lg-min) {
          padding-left: 0px;
        }
      }

    }

    p:last-child {
      margin: 0px;
    }
  }
}