.content-info {
  color: $light-tan;
  background-color: $gold;

  a, a:hover, a:active, a:visited {
    color: $light-tan;
  }
}

footer {
  border-top: 5px solid $green;
  margin-top: $base-spacing*2;
  padding: $base-spacing*2;

  @media(max-width: $screen-sm-max) {
    text-align: center;
  }

  p {
    font-size: 10px;
    color: $light-tan;
  }

  div {
    padding-bottom: $base-spacing;

    div:last-of-type {
      padding-bottom: 0;
    }

    @media (min-width: $screen-sm-min) {
      padding-bottom: 0;
    }
  }

  #footer-logo {
    @include make-sm-column(3);

    img {
      max-width: 150px;

      @media(min-width: $screen-sm-min) {
        max-width: 60%;
      }

    }
  }

  #footer-contact-information {
    @include make-sm-column(3);

    h3 {
      display: none;
    }
  }

  #footer-social-media {
    @include make-sm-column(3);

    span {
      color: $light-tan;
    }

    h3 {
      margin-top: 0px;
      color: $light-tan;
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
    }

    a:hover {
      text-decoration: none;
    }
  }

  #footer-search {
    @include make-sm-column(3);

    .search-form {
      @media( max-width: $screen-xs-max) {
        width: 200px;
        margin-left: auto;
        margin-right: auto;
      }

      @media( min-width: $screen-sm-min ) {
        margin-top: 19px;
      }

      .input-group-btn {
        @media (max-width: $screen-xs-max) {
          position: static;
          width: auto;
          vertical-align: top;
        }
      }
    }

    button {
      @include button-variant($gold, $light-tan, $light-tan);

      .label {
        text-transform: uppercase;
        color: $gold;
      }
    }
  }
}

#footer-menus {
  background-color: $gold;
  color: $light-tan;

  ul {
    text-align: center;
    padding-left:0px;

    a {
      font-size: 12px;
      padding: 0px 5px;
      color: $light-tan;
    }

    // @media (max-width: $screen-xs-max) {
    //
    //   padding-top: $base-spacing;
    //
    //   li {
    //     display: block;
    //   }
    // }

    // @media (min-width: $screen-sm-min) {

      @include list-inline;
      margin: $base-spacing/2 0px;

      li {
        padding: 0px;
      }

      li:after {
        content: " | ";
      }

      li:last-of-type:after {
        content: "";
      }
    // }
  }

  #visitor-menu {
    @include make-xs-column(12);
  }

  #administrative-menu {
    @include make-xs-column(12);
  }
}

#footer-copyright {
  padding-bottom: $base-spacing;
  background-color: $gold;
  color: $light-tan;
  text-align: center;
  font-size: 12px
}
