#homepage-alert-container {
  color: $white;
  font-weight: bold;

  @media (min-width: $screen-sm-min) {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 100;
  }

  .row {
    margin: 0px;
  }

  #homepage-alert {
    @include make-sm-column(10);
    @include make-sm-column-offset(1);
    @include make-md-column(8);
    @include make-md-column-offset(2);

    padding: $base-spacing;

    p.alert-call-to-action {
      font-size: 18px;
    }

    #alert-close-button {
      float: left;
      a, a:active, a:visited, a:hover {
        color: $white;
        cursor: pointer;
      }
    }
    #cta-button {

      @media (min-width: $screen-sm-min) {
        position: absolute;
        right: 0px;
        bottom: 0px;
        padding: 0px;
        margin-bottom: 19px;
      }

      p {
        text-align: right;
        margin: 0px;

        a {
          font-weight: bold;
          border-radius: 0px;
          margin: 0px;

          @media(min-width: $screen-sm-min ) {
            margin: 0px 19px 0px 0px;
          }
        }
      }
    }
  }
}


#homepage-slider-images-container {
    padding:0px;

  #homepage-slider-images {
    border-bottom: 5px solid $blue;
    overflow-x: hidden;

    .item {
      @media (max-width: $screen-xs-max) {
        height: 480px;
      }
    }

    .mobile-image {
      display: block;
      top: 0;
      left: 0;
      height: 480px;
      position: absolute;
      right: 0;
      background-position: center bottom;
      background-size: cover;
    }

    .desktop-image {
      height: 450px;
      background-color: transparent;
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-position: center center;
      background-origin: padding-box;
      background-size: cover;
      display: block;
    }

    .carousel-caption {
      color: $white;
      font-size: 16px;
      text-shadow: none;
      text-align: left;
      line-height: 1.5;
      left: 10px;
      right: 10px;
      padding: 0px;
      padding-bottom: $base-spacing;

      @media(max-width: $screen-xs-max) {
        @include make-xs-column(12);
        top: 19px;
        padding-left: 38px;
        right: auto;
        bottom: auto;
      }

      @media(min-width: $screen-sm-min) {
        top: 0;
        left: 10%;
        padding: $base-spacing;
      }

      @media(min-width: $screen-md-min) {
        width: 52%;
        padding: $base-spacing*2 $base-spacing;
      }

      h3 {
        margin-bottom: $base-spacing;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: bold;
        line-height: 1.25;

        @media( min-width: $screen-sm-min) {
          font-size: 28px;
        }

        @media( min-width: $screen-md-min) {
          font-size: 40px;
        }

        a {
          color: $white;
        }

        a:hover {
          text-decoration: none;
        }
      }

      p {
        margin-bottom: $base-spacing;
        font-size: 14px;
        margin-right: 17%;
        color: $white;

        @media(min-width: $screen-sm-min) {
            margin-right: 34%;
            font-size: 20px;
        }
      }

      .btn {
        @include button-variant($gold, $yellow, $yellow);
        padding: $base-spacing/2 $base-spacing*1.5;
        border-radius: 0px;
        text-align: left;
        font-size: 12px;

        @media (min-width: $screen-sm-min) {
          font-size: inherit;

        }
      }
    }

    .carousel-indicators {
      @media(min-width: $screen-sm-min) {
        right: 50px;
      }
    }
  }
}

#homepage-search-box-container {
  .row {
    margin: 0px;
  }

  #large-search-box {
    @include make-sm-column(10);
    @include make-sm-column-offset(1);

    @include make-md-column(8);
    @include make-md-column-offset(2);

    @media(min-width: $screen-sm-min) {
      padding-left: $base-spacing*4;
      padding-right: $base-spacing*4;
    }

    @media (min-width: $screen-sm-min) {
      margin-top: -$base-spacing*3;
    }

    .input-group {
      padding: $base-spacing*1.5 0px;
    }
  }
}

#homepage-featured-pages-container {
  background-color: $light-tan;
  margin: -53px 0px 0px;
  padding-top: 53px;

  @media (min-width: $screen-sm-min) {
    margin: -100px 0px 0px;
    padding-top: 100px;
  }

  #homepage-featured-pages {

    background-color: $light-tan;
    clear:both;

    margin: 0px;

    // .xs-row {
    //   @media (max-width: $screen-xs-max) {
    //     //@include make-row();
    //     margin-top: 19px;
    //     margin-bottom: 19px;

    //     &:first-of-type {
    //       margin-top: 53px;
    //       padding-top: 19px;
    //     }
    //   }
    // }

    .circle {
      @include make-xs-column(12);
      @include make-sm-column(2);
      text-align: left;
      text-transform: uppercase;
      color: $gold;
      font-weight: bold;
      font-size: 12px;
      padding-top: 19px;

      @media (min-width: $screen-sm-min) {
        text-align: center;
        margin:0px;
        padding-bottom: 19px;
      }

      .icon {
        display: inline-block;
        text-align: center;
        border-radius: 50%;
        height: 4em;
        width: 4em;
        border: 2px solid $gold;
        background-color: white;

        @media (max-width: $screen-xs-max) {
          float: left;
        }

        i {
          color: $gold;
          line-height: 2em;
        }

        svg {
          margin-top: 1em;
          fill: $gold;
        }
      }

      a, a:hover, a:active, a:visited {
        display: inline-block;
        text-decoration: none;
        color: $gold;
      }

      a:hover .icon {
        background-color: $gold;
        i {
          color: $white;
        }
        svg {
          fill: $white;
        }
      }

      p {
        @media (max-width: $screen-xs-max) {
          float: right;
          margin: 0px 0px 0px 20px;
          line-height: 48px;
        }

        @media (min-width: $screen-sm-min) {
          margin: 0px;
          margin-top: 10px;
        }
      }
    }

    #maps {
      @include make-sm-column-offset(1);
    }

    #careers, #give {
      @media (min-width: $screen-sm-min) {
        background-color: $medium-tan;
      }

      @media(min-width: $screen-sm-min) and (max-width: $screen-md-max) {
        min-height: 130px;
      }

      @media(min-width: $screen-lg-min) {
        margin-top: -34px;
        padding-top: 57px;
        padding-bottom: 19px;
      }
    }

    #uwmed {
      @media (max-width: $screen-xs-max) {
        margin-bottom: 19px;
      }
    }
  }
}

#homepage-call-to-action-boxes-container {
  #homepage-call-to-action-boxes {
    @include make-xs-column(12);
    margin: $base-spacing*2 0 0 0;

    @media(max-width: $screen-sm-max) {
      .row {
        margin: 0px;

        .col-md-8 {
          padding: 0;
        }
      }
    }

    @media(min-width: $screen-md-min) {
      margin-left: -19px;
    }

    .row:nth-of-type(2) {
      @media( $screen-sm-min) {
        margin-top: 19px;
      }
    }

    .cta-box {
      @include make-sm-column(6);
      margin-bottom: 19px;

      @media( max-width: $screen-sm-max) {
        padding: 0px;
      }

      
      img {
        width: 100%;
      }

      .cta-content {
        padding: $base-spacing;
        background-color: $light-tan;

        @media (min-width: $screen-sm-min) {
          min-height: 158px;
          max-height: 158px;
        }

        h3 {
          font-size: 16px;
          font-weight: bold;
          text-align: left;
          text-transform: uppercase;
          margin-top: 0;
          padding: 0px;
        }

        p {
          font-size: 12px;
        }

        a {
          @include button-variant($white, $green, $green);
          position: relative;
          bottom: 0px;

          @media (min-width: $screen-sm-min) {
            position: absolute;
            bottom: 19px;
          }
        }

        p:last-of-type {
          margin-bottom: 0px;
        }
      }
    }

    @media( min-width: $screen-sm-min ) {
      padding: 0px;

      #first, #third {
        padding-right: 10px;
      }

      #second, #fourth {
        padding-left: 10px;
      }
    }

    #second {
      .controls {
        position: relative;
        float: right;
        width: 40%;
        bottom: 20px;
        right: 20px;

        .carousel-indicators {
          left: auto;
          right: 0px;
          bottom: 7px;
          text-align: center;
          margin: 0px;
          width: 100%;
        }

        .carousel-control {
          background-image: none;
          text-shadow: none;
          color: $gray;
          opacity: 1.0;

          top: auto;
          bottom: 7px;
          line-height: 0;
          z-index: 20;
          width: auto;
        }

        .carousel-control.left {
          left: 0px;
          filter: none;

        }

        .carousel-control.right {
          left: auto;
          right: 0px;
          filter: none;
        }
      }
    }

    #fifth {
      background-color: $light-tan;
      padding-top: 19px;
      padding-bottom: 19px;

      @media( max-width: $screen-sm-max) {
        margin: 0 0 19px 0;
      }

      @media( min-width: $screen-sm-min ) {
        margin-left: 0px;
      }

      @media( min-width: $screen-md-min) {
        min-height: 636px;
      }
      @media( min-width: $screen-lg-min) {
        min-height: 665px;
      }

      #medinfo {
        display: inline-block;
        width: 100%;
        margin-bottom: 19px;

        img {
          float: left;
          margin-right: 10px;
          margin-bottom: 5px;
          max-width: 100%;
        }

        h3 {
          margin-top: 0px;
        }

        p {
          margin: 0px;
        }

        a, a:visited, a:hover, a:active {
          color: #337ab7;
        }
      }

      #separator {
        background-color: $white;
        height: 19px;
        margin: 0px -19px;
      }

      #homepage-rss {
        clear: both;
        padding-top: 10px;

        .homepage-rss-button {
          @include make-xs-column(12);
          @include make-sm-column(4);
          @include make-md-column(12);
          text-align: center;

          a {
            @include button-variant($white, $green, $green);
            width: 100%;
          }
        }

        .homepage-rss-button:first-of-type {
          margin-top: 19px;
        }
        .homepage-rss-button:last-of-type {
          margin-bottom: 0px;
        }

        @media( min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
          .row {
            margin-top: 19px;
          }

          .homepage-rss-button:first-of-type {
            margin-top: 0px;
          }
          .homepage-rss-button {
            padding-right: 0px;
            margin-bottom: 0px;
          }

          .homepage-rss-button:last-of-type {
            padding-right: 19px;
          }
        }
      }
    }
  }
}

#homepage-events-calendar-container {
  .row {
    margin: 0px;

    @media (min-width: $screen-md-min) {
      margin-left: -19px;
      margin-right: -19px;
    }
  }
}

#homepage-events-calendar {
  @include make-xs-column(12);
  @include make-md-column(8);
  margin-top: 30px;

  @media (min-width: $screen-sm-min) {
    border: 4px solid $medium-tan;
    margin-right: -19px;
  }

  @media (min-width: $screen-md-min) {
    border-right: 0px;
    height: 350px;
  }

  h2 {
    padding: 19px;
    margin-left: -19px;
    margin-right: -19px;
    margin-top: 0px;

    @media (min-width: $screen-sm-min) {
      background-color: $medium-tan;
    }
  }

  #event-list {
    @include make-sm-column(6);
    margin: 19px 0px;
    padding: 0px;
    border-right: 2px solid $gold;
  }

  #event-calendar {
    @include make-sm-column(6);
    padding: 19px;
  }
}

#featured-events {
  @include make-sm-column(6);
  @include make-sm-column-offset(3);
  @include make-md-column(4);
  @include make-md-column-offset(0);

  margin-top: 30px;
  border: 4px solid $medium-tan;


  @media(max-width: $screen-xs-max) {
    margin: 0px $base-spacing;
    padding-bottom: $base-spacing/2;
    border-bottom: 0px;
  }

  @media (min-width: $screen-md-min) {
    height: 350px;
  }

  h2 {
    padding: 19px;
    background-color: $medium-tan;
    margin: 0px -19px;
  }

  #spotlight-box {
    padding: 19px 0px;
  }

  h3 {
    margin-top: 0px;
  }

  img {
    max-width: 100%;
    max-height: 90px;
  }

  .btn-green {
    margin: 0px;
    color: $white;
  }

  p {
    margin-top: 10px;
  }

  p.call-to-action {
    margin: 0px;
    text-align: right;
  }

  .controls {
    position: relative;
    margin-bottom: 19px;
    width: 100%;
    height: 30px;

    @media (min-width: $screen-lg-min) {
      height: 40px;
    }

    .carousel-indicators {
      left: auto;
      right: 0px;
      bottom: 0px;
      text-align: center;
      margin: 0px;
      width: 100%;
    }

    .carousel-control {
      background-image: none;
      text-shadow: none;
      color: $gray;
      opacity: 1.0;

      top: auto;
      line-height: 0;
      z-index: 20;
      width: auto;
    }

    .carousel-control.left {
      left: 0px;

    }

    .carousel-control.right {
      left: auto;
      right: 0px;
    }
  }
}

#calendar-button {

  padding: $base-spacing;
  background-color: $gold;
  margin: $base-spacing;
  margin-top: 0px;
  border: 4px solid $medium-tan;
  border-top: 0px;

  p {
    text-align: center;
    margin-bottom: 0px;

    a {
      @include button-variant($white, $green, $green);
    }
  }
}

#homepage-clinic-map-container {
  @include make-xs-column(12);
  margin: 0px;
  margin-top: $base-spacing*2;
  margin-bottom: -$base-spacing*2;
  padding: 0px;

  #homepage-clinic-map {
    width: 100%;
    background-size: auto 100%;
    background-repeat: no-repeat;
    display: block;
    min-height: 230px;
    background-position: 20% top;

    @media(min-width: $screen-sm-min) {
      background-position: 23% top;
      min-height: 400px;
    }

    @media(min-width: $screen-lg-min) {
      background-position: top;
      min-height: 415px;
    }

    @media(min-width: 1620px) {
      background-size: 100% auto;
    }

    @media(min-width: 1750px) {
      min-height: 25.5vw;
    }
  }

  #map-link {
    width: 100%;
    height: 100%;
    display: block;
  }
}
