.header-right {
  text-align: center;
  padding-top: $base-spacing;
  color: $gold;

  @media (min-width: $screen-sm-min) {
    text-align: right;
  }

  h3 {
    display: none;
  }


  section.appointments-cta {
    .appts-phone{
      font-size: 18px;

      a, a:active, a:hover, a:visited {
        color: $gold;
        text-decoration: none;
      }
    }
  }

  .make-a-gift {
    h3 {
      display: none;
    }

    a {
      @include button-variant($white, $medium-gold, $medium-gold);

      font-size: 10px;
      text-transform: uppercase;
      font-weight: bold;

      @media (min-width: $screen-sm-min) {
        position: absolute;
        top: 0px;
        right: 19px;
        margin-top: -20px;
        border-radius: 0px 0px 6px 6px;
        padding: 5px 20px 10px;
      }
    }
  }

  .search-form {
    @media( max-width: $screen-xs-max) {
      width: 200px;
      margin-left: auto;
      margin-right: auto;
    }

    @media( min-width: $screen-sm-min ) {
      margin-top: 19px;
    }

    .input-group-btn {
      @media (max-width: $screen-xs-max) {
        position: static;
        width: auto;
        vertical-align: top;
      }

      button {
        @include button-variant(#a29061, $medium-tan, $medium-tan);

        .label {
          text-transform: uppercase;
          color: $gold;
        }
      }
    }
  }
}

.nav-primary {
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 0px;
  .container {

    position: relative;
    #primary-navigation {
      @include make-sm-column(12);
      @include make-sm-column-push(0);
      @include make-md-column(11);
      @include make-md-column-push(0);

      @media (min-width: $screen-sm-min) {
        padding: 0px;
      }
      @media (min-width: $screen-md-min) {
        margin-right: -8px;
      }
    }


    #eCare-button-wrap {
      @include make-sm-column(2);
      @include make-sm-column-pull(10);
      @include make-lg-column(1);
      @include make-lg-column-pull(0);

      line-height: 40px;
      z-index:1000;

      position: absolute;
      top:6px;

      @media (min-width: $screen-lg-min) {
        position: static;
      }

      h3 {
        display: none;
      }

      a {
        @include button-variant($white, $medium-gold, $medium-gold);
        line-height: 1;

        position: absolute;

        @media (min-width: $screen-lg-min) {
          border-radius: 0px;
          height: 40px;
          line-height: 1.8;
          position: static;
          margin-left: 3px;
        }

        @media (min-width: $screen-lg-min) {
          margin-left: 10px;
        }
      }
    }
  }
}
