html.lobby-screen {
    background: none;
    padding: 20px;
    margin: 0!important ;
}
.lobby-screen-events { 
    font-size: 26px;

    h1 {
        font-size: 36px;
        margin-top: 30px;
        margin-bottom: 50px;
        text-align: center;
        text-transform: uppercase;
    }

    h2 {
        color: white;
        background-color: $gold;
        text-transform: uppercase;
        padding: 10px 8px;
        font-size: 26px;
    }

    table {
        margin-bottom: 0px;
    }

    #more {
        text-align: center;
        color: $green;
        text-transform: uppercase;
        font-size: 36px;
        margin-top: 50px;
    }
}

