.page-template-page-location {
  .location-photo {
    width: 100%;
  }

  .contact {
    background-color: $medium-gold;
    color: white;
    padding: 20px;
    @include make-row;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 20px;

    .address {
      @include make-sm-column(9);
      padding-left: 0px;
      padding-right: 0px;

    }

    .phone {
      @include make-sm-column(3);
      padding-left: 0px;
      padding-right: 0px;
      text-align: right;
      font-size: 20px;

      a, a:active, a:hover, a:visited {
        color: white;
        font-weight: bold;
      }
    }
  }

  .buttons {
    clear: left;
    margin-bottom: 0px;


    .getting-here, .map-it {
      @include button-variant($text-color, $white, $white);
      border-radius: 0px;
      margin-right: 10px;
      width: 45%;

      @media (min-width: $screen-sm-min) {
        width: 130px;
      }
    }

    .map-it {
      @media (max-width: $screen-xs-max) {
        margin-right: 0px;
        float: right;
      }
    }
  }

  .main-body {
    @include make-row();
    @media (min-width: $screen-md-min) {
      margin-left: 0px;
      margin-right: 0px;
    }

    .content {

      @include make-md-column(9);
      @media (min-width: $screen-md-min) {
        padding-left: 0px;
        width: 70%;
        padding-right: 19px;
      }

    }

    .content-has-sidebar {
      @include make-xs-column(12);
    }

    .right-sidebar {
      @include make-xs-column(12);
      @include make-md-column(3);
      @media (min-width: $screen-md-min) {
        width: 30%;
        padding-left: 0px;
        padding-right: 0px;
      }

      .hours-of-operation {

        background-color: $gray-accent;
        padding: 19px;
        margin-top: 19px;
        margin-bottom: 10px;
        width: 100%;

        @media (min-width: $screen-md-min) {
          padding: 10px;
          margin-top: 10px;
          margin-left: 0px;
          margin-right: 0px;
        }

        @media (min-width: $screen-lg-min) {
          padding: 19px;
        }

        h3 {
          margin-top: 0px;
          font-size: 14px;
        }

        .table {
          font-size: 12px;
          margin-bottom: 0px;

          th:first-of-type, td:first-of-type {
            @media (min-width: $screen-md-min) {
              width: 77px;
            }

          }

          th, td {
            padding: 4px;
            padding-left: 0px;
            padding-right: 0px;
            border: none;
          }
        }
      }
    }
  }
}

.page-template-page-ramp-search-location, .page-template-page-child-locations-php {
  .location-entry {
    padding: $base-spacing;
    margin-bottom: $base-spacing;

    .location-image {
      margin-bottom: 15px;

      @media (min-width: $screen-sm-min) {
        margin-right: 15px;
        float: left;
      }
    }

    .location-info {
      display: inline-block;

      @media (min-width: $screen-sm-min) {
        max-width: 460px;
      }

      a {
        color: $gold;
        font-weight: bold;
      }

      p:last-child {
        margin: 0px;
      }
    }
  }

  .location-entry:nth-of-type(even) {
    background-color: $light-tan;
  }
}
