.full-width {
  .main {
    padding: 0px;
  }
}

.sidebar-primary .main {
  // these pages have .sidebar.move-to-top which tells jQuery to move the
  // sidebar element before the main element. we need to style appropriately,
  // overriding any push set for this column. this helps with mobile-first
  // navigation for sidebar menus
  @include make-sm-column(9);
  @include make-sm-column-push(0);
}

.providers.sidebar-primary .main {
  // these pages have .sidebar.move-to-bottom which tell jQuery to leave the
  // sidebar element below the main element. we need to style appropriately,
  // moving the sidebar to the left of the main column on sm screens and up
  @include make-sm-column(9);
  @include make-sm-column-push(3);
}

.providers.sidebar-primary.hide-sidebar .main, .page-template-page-ramp-search-provider-php.sidebar-primary.hide-sidebar .main {
  @include make-sm-column-push(0);
  @include make-sm-column(12);
}
.providers.sidebar-primary.hide-sidebar .sidebar {
  display: none;
}

.providers.sidebar-primary.page-template-page-child-providers-php .main {
  @include make-sm-column(9);
  @include make-sm-column-push(0);
}

/* Global Breadcrumb Styling */
#breadcrumbs {
  margin-top: $base-spacing;
  text-transform: uppercase;
  font-size: 12px;

  .breadcrumb_last {
    color: $gold;
  }
}

/* Global Header Image Styling */
#header-image {
  margin-bottom: $base-spacing;

  img {
    width: 100%;
    max-width: 100%;
  }
}


/* Medical Services Page Styling
 * Create a row for the blue buttons that display on mobile
 */
.page-header.medical-services {
  @include make-row();
}
.medical-services.title {
  @include make-xs-column(12);
  @include make-sm-column(8);
}

.medical-services.providers, .medical-services.locations {
  @include make-xs-column(6);

  p {
    margin: 0px;

    a {
      @include button-variant($white, $blue, $blue);
      padding: 5px 12px;
      width: 100%;
    }
  }
}

/* Archive Pagination */
.archive {
  .pagination-conatiner {
    clear: both;
  }

  .navigation.pagination {


    a.prev, a.next {
      //@include btn;
      //@include button-variant($white, $blue, $blue);
    }

    a.prev, a.next, a.page-numbers, .page-numbers {
      font-size: 12px;
    }

    a.prev {
      margin-right: 20px;
      @media(min-width: $screen-sm-min) {
        margin-right: 60px;
      }
    }

    .page-numbers {
      line-height: 32px;
    }

    a.next {
      margin-left: 20px;
      @media(min-width: $screen-sm-min) {
        margin-left: 60px;
      }
    }
  }
}


/* Press Release Archive Page */
.post-type-archive-press-releases {
  .press-release-entry {
    padding: $base-spacing / 2;
    margin-bottom: $base-spacing / 2;

    p {
      margin: 0px;
    }

    p:first-of-type {
      margin-bottom: $base-spacing/4;
      color: $gold;
      font-size: 14px;
      font-weight: bold;
    }

    a {
      margin-top: $base-spacing/2;
      font-size: 12px;
      font-weight: normal;
    }
  }
  .press-release-entry:nth-of-type(even) {
    background-color: $light-tan;
  }
}

/* Paitent Stories Archive Page */

#patient-stories-archive, .tax-patient-story-category {
  .patient-story-row {
    @include make-row();

    .patient-story-entry {
      @include make-xs-column(12);
      @include make-sm-column(6);
      margin-bottom: 40px;

      h3 {
        margin-bottom: 0;
        text-align: center;
      }

      img {
        max-width: 100%;
      }
    }

    .patient-story-entry:nth-of-type(odd) {
      clear: left;
    }
  }
}

/* Patient Story Page */
.type-patient-stories.hentry {
  .splash-text {
    color: $gold;
    font-family: Georgia;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    text-shadow: 1px 1px 0 #fff;
    text-transform: uppercase;
  }

  .story-leader {
    color: $gold;
    font-family: Georgia;
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
  }

  @media (max-width: $screen-xs-max) {
    img {
      display: none;
    }

    #header-image img {
      display: block;
    }
  }
}
/* MedInfo Homepage */
.page-template-archive-medinfo-articles-php {
  header.container {
    margin-top: $base-spacing;
    margin-bottom: $base-spacing/2;
    padding: 0px $base-spacing;

    #logo {
      @include make-md-column(4);
      padding-left: 0px;
      margin-right: -19px;

      img {
        z-index: 100;
        margin-bottom: -3px;
      }
    }

    #edition {
      @include make-md-column(8);
      height: 64px;
      position: relative;
      padding-left: 0px;

      p {
        position: absolute;
        bottom: 0px;
        margin-bottom: 2px;
      }
    }
  }
  #header-image {
    position: relative;

    .container {
      background-color: $light-tan;
      color: $gold;
      padding: $base-spacing;

        h2 {
          text-transform: uppercase;

        }

        p {

        }

        @media(min-width: $screen-sm-min) {
          padding: 0px;
          position: absolute;
          right: 50%;
          top: 20px;

          #headline {
            background-color: $light-tan;
            padding: $base-spacing;
            position: absolute;
            right: -50%;
            width: 40%;

            h2 {
              font-size: 30px;
            }

            p {
              font-size: 20px;
            }

            a, a:visited, a:hover, a:active {
              color: $gold;
            }
        }
      }
    }

    #splash-text {
      position: absolute;
      left: 50%;
      margin-top: -44px;

      h2 {
        position: absolute;
        padding-top: 11px;
        height: 44px;
        left: -50%;
        width: 100%;
        color: white;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,.5);
      }
    }
  }

  #content {
    margin: 0px;
  }

  .story {
    @include make-sm-column(6);
    margin-bottom: $base-spacing;

    img {
      max-width: 100%;
    }

    .content {

      background-color: $light-tan;
      padding: $base-spacing;
    }
  }

  .past-story {
    @include make-sm-column(3);

    h2 {
      font-size: 14px;
    }

    img {
      max-width: 100%;
    }
  }

  #past-stories p:last-child {
    text-align: right;
    margin-top: $base-spacing;

    a {
      margin-right: 0px;
    }
  }

}

#medinfo-subscribe-cta {
  background-color: $light-tan;
  padding: $base-spacing;

  h3 {
    margin-top: 0px;
  }

  .btn {
    width: 80%;
    margin: 0px auto;
    display: block;
  }
}

.featured {
  h3 {
    text-transform: uppercase;
    border-bottom: 1px solid gray;
  }

  h4, p {
    margin-bottom: 0px;
  }

  .featured-content {

    display: inline-block;

    p:first-of-type {
      color: $green;
    }

    img {
      float: right;
      margin-left: 10px;
      width: 40%;
    }
  }
}

.meet-the-docs {
  h3 {
    text-transform: uppercase;
    border-bottom: 1px solid gray;
  }

  .doc {
    margin-bottom: $base-spacing;
    display: inline-block;
    width: 100%;

    h4 {
      margin-top: 0px;
    }

    img {
      float: left;
      margin-right: 10px;
      width: 75px;
    }
  }

}

.tax-medinfo-edition {
  .patient-story-entry {
    margin-bottom: $base-spacing*2;
  }
}

.single-patient-stories, .single-medinfo-articles {
  #right-inset {
    margin-bottom: $base-spacing;


    .meet-the-docs {
      background-color: $medium-tan;
      padding: $base-spacing;
      margin-bottom: $base-spacing;


      .doc:last-child {
        margin-bottom: 0px;
      }

    }
    @media(min-width: $screen-sm-min) {
      float: right;
      width: 40%;
      margin-left: 10px;
    }
  }

  .callout {
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    margin: $base-spacing 0px;

    h3 {
      margin-top: 10px;
    }

    .list-unstyled {
      padding-left: 10px;
    }
  }
}

.single-medinfo-articles {
  #archives {
    margin: $base-spacing 0px;
  }
}

/* Landing Page Styles */

.page-template-page-landing .content {
  margin-left: auto;
  margin-right: auto;
}

/* New Movers Landing Page */

.newMoversLandingPage {
  h1 {
    color: $gold;
    text-align: center;
    text-transform: uppercase;
  }
  
  h2 {
    background-color: #7da1c4;
    padding: $base-spacing/2;
    color: white;
    font-size: 16px;
    margin-top: $base-spacing/2;
  }

  .grayList {
    color: #edb226;
    background-color: #f5f4f4;
    padding-top: 15px;
    padding-bottom: 15px;

    li {
      span {
        color: $black;
      }
    }

    li:last-of-type {
      margin-bottom: 0;
    }
  }

  .btn {
    margin-top: 10px;
  }

  .btn-gray {
    color: $purple;
    font-weight: bold;
  }

  #emailSignup {
    background-color: #f6f3e1;
    margin-bottom: $base-spacing/2;

    h2 {
      background-color: #2e2573;
      margin: $base-spacing 0 0 0;
    }
    
    #downArrow {
      width: 0;
      height: 0;
      border-left: 14px solid transparent;
      border-right: 14px solid transparent;
      border-top: 14px solid #2e2573;
      font-size: 0;
      line-height: 0;
      margin-left: 20px;
    }

    label {
      color: $gold;
      text-transform: uppercase;
      font-size: 12px;
    }

    legend {
      margin-bottom: $base-spacing/2;
      color: $gold;
      border: none;
      font-size: 14px;
      font-weight: 700;
    }

    ul {
      margin-bottom: 0px;

      li {
        padding-right: 0;
      }
    }

    .btn {
      width: 100%;
      margin-bottom: 20px;
    }

      @media(max-width: $screen-sm-max) {
      margin: 20px 19px 10px;

      h2 {
        margin: 0 -19px;
        padding: 10px 20px;
      }
    }
  }

  #vcIntro {
    margin-top: 20px;
  }

  #vcImage {
    margin-top: 20px;
    @media(min-width: $screen-md-min) {
      padding: 0;
    }
  }
}

/* Exact Target Form */
.page-template-page-location {
  .form-container {
    margin: 0 auto 2em;
    overflow: auto;
    width: 100%;
  }

  .form-container .btn {
    width: 100%;
    margin: 0;
  }

  .form-container .row {
    margin-right: 0px;
  }

  .form-container input,
  .form-container input[type="text"],
  .form-container input[type="email"],
  .form-container select {
    border: 1px solid #5b616b;
    border-radius: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #000;
    display: block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.4rem;
    margin: .2em 0;
    max-width: 46rem;
    width: 100%;
    outline: none;
    padding: .2rem .4rem;
    height: 30px;
  }

  .form-container input:focus,
  .form-container input[type="text"]:focus,
  .form-container input[type="email"]:focus,
  .form-container select:focus {
    box-shadow: 0 0 3px #3e94cf, 0 0 7px #3e94cf;
  }

  .form-container label {
    display: block;
    font: bold 14px/17px Arial, Helvetica, sans-serif;
    color: #856822;
    margin-left: 0 !important;
    margin: 0 0.4em;
    text-transform: uppercase;
    line-height: 1.4rem;
    max-width: 46rem;
    clear: both;
  }

  .form-container input, .form-container input[type="text"], .form-container input[type="email"], .form-container select {
      height: auto;
      background: #f8f5e0;
  }

  .form-container input,
  .form-container input[type="text"],
  .form-container input[type="email"],
  .form-container select {
    margin-bottom: 0.4em;
  }

  .form-panel--left {
    float: left;
  }

  .form-container form {
    margin: 10px 5px;
    width: 95%;
  }

  .form-container input,
  .usa-input-grid-small select {
    border: none !important;
  }

  .usa-input-grid-small,
  .usa-input-grid-small select,
  .usa-input-grid-medium,
  .usa-input-grid-medium input {
    margin-bottom: 0;
  }

  .last-input {
    margin-bottom: 0.7em !important;
  }

  label.error {
    bottom: -15px;
    color: red !important;
    font-size: 10px;
  }

  #formFlash {
    font-size: 18px;
    font-weight: bold;
    color: #008E0B;
    text-align: center;
    clear: both;
  }

  .clinic_form_left {
    float: left;
    width: 48%;
    margin: 0 1.5em 0 0;
  }

  .clinic_form_right {
    float: left;
    width: 48%;
  }

  .clinic_form_span {
    color: #F90505;
    float: none;
    margin-left: 6px;
  }
}

/* NWPC Landing Page */

.nwpcLandingPage {
  h2 {
    font-size: 20px;
  }
  
  .campaignHeader {
    
    clear: both;

    background: rgba(0, 0, 0, 0) url("https://nwhospital.org/wp-content/uploads/top-img-mobile.jpg") no-repeat scroll 0 0 / 100% auto;
    height: 136px;

    @media(min-width: $screen-md-min) {
      margin-top: $base-spacing;
      background: rgba(0, 0, 0, 0) url("https://nwhospital.org/wp-content/uploads/top-img.jpg") no-repeat scroll 0 0 / 100% auto;
      height: 273px;
    }

    @media(min-width: $screen-lg-min) {
      height: 298px;;
    }

    .right {
      text-align: center;
      color: white;
      
      @media(min-width: $screen-md-min) {
        float: right;
        width: 55%;
      }

      h1 {
        padding-top: 1.5em;
        color: #fff;

        @media(min-width: $screen-sm-min) {
          padding-top: 1em;
        }

        @media(min-width: $screen-md-min) {
          padding-top: 0;
          margin-top: 3em;
        }
      }

      .col-sm-6 {
        margin-bottom: $base-spacing;
      }
    }
  }

  .campaignContent {
    background-color: #f5f5f5;
    padding: 1px $base-spacing;

    @media(max-width: $screen-sm-max) {
      padding-top: $base-spacing;
    }

    #emailSignup {
      @media(max-width: $screen-xs-max) {
        margin-top: $base-spacing;
      }
    }
  }

  .nwpcLocations {
    display: inline-block;

    @media(min-width: $screen-sm-min) {
      margin-left: -19px;
      margin-right: -19px;
    }      

    @media(min-width: $screen-md-min) {
      .col-sm-6:nth-of-type(4) {
        clear: both;
      }  
    }

    h2 {
      margin-left: 19px;
      margin-top: $base-spacing;
      margin-bottom: $base-spacing;
    }

    h3 {
      background: #fff;
      padding: 0.5em 0 0.5em 0.5em;
      font-size: 1.1em;
      margin-top: -1.2em;
      float: left;
      width: 90%;
      position: relative;
      z-index: 10;
      margin-left: -20px;

      a, a:active, a:hover, a:visited {
        color: #856822;
      }
    }

    .clinic {
      background: #e2e2e2;
      padding: 0 20px 20px;

      p {
        clear: both;
      }

      :last-child {
        margin-bottom: 0px;
        
        .btn {
          width: 100%;
          margin-bottom: 0;
        }
      }
    }

    .col-sm-6 {
      margin-bottom: 36px;
    }
  }

  .nwpcMap {
    .map {
      margin-top: $base-spacing;
      border: 0;
      width: 100%;
    }
    
  }
}

.fremontLandingPage {

  .campaignHeader {
    margin-top: $base-spacing;

    h1 {
      margin-top: $base-spacing;
    }
  }

  .fremontLocations {
    margin-top: $base-spacing * 2;

    > h2:first-child {
      margin-left: 19px;
    }

    .clinic {
      background: #e2e2e2;
      padding: 0 20px 20px;

      p {
        clear: both;
      }

      :last-child {
        margin-bottom: 0px;
        
        .btn {
          width: 100%;
          margin-bottom: 0;
        }
      }

      h3 {
        background: #fff;
        padding: 0.5em 0 0.5em 0.5em;
        font-size: 1.1em;
        margin-top: -1.2em;
        float: left;
        width: 90%;
        position: relative;
        z-index: 10;
        margin-left: -20px;

        a, a:active, a:hover, a:visited {
          color: #856822;
        }
      }
    }

    #emailSignup {
      margin-top: $base-spacing * 2;
      
      h3 {
        margin-top: 0px;
      }

      .form-group:last-child {
        margin-bottom: $base-spacing/2;
      }

      @media(min-width: $screen-md-min) {
        margin-top: -36px;

        .form-group:nth-of-type(odd) {
          padding-right: 5px;
        }

        .form-group:nth-of-type(even) {
          padding-left: 5px;
        }
      }
    }
  }
  .fremontOpenHouse {
    margin-top: $base-spacing * 2;
    padding: $base-spacing;
    background-color: $light-tan;
    display: table;

      .col-md-9 {
        padding-left: 0px;
      }

      .col-md-3 {
        padding-right: 0px;
        
        a {
          width: 100%;
          display: table;
          text-align: right;
        }
      }
  }

  .fremontMap {
    width: 100%;
    margin-top: $base-spacing * 2;

    iframe {
      width: 100%;
    }
  }
}