.providers {
  .provider-photo {
    @extend .aligncenter;
    margin-top: 6px;
    max-width: 250px;

    @media (min-width: $screen-sm-min) {
      margin-right: 19px;
      margin-bottom: 19px;
      float: left; 
    }
  }

  .uwm-widgets {

    @media (min-width: $screen-sm-min) {
      display: table-row;
    }

    .widget {

      margin-right: 10px;

      @media (min-width: $screen-sm-min) {
        width: 200px;
        float: left;
      }
    }
  }

  .provider-data {
    display: inline-block;
    width: 100%;

    @media( min-width: $screen-md-min) {
      width: 58%;
    }

    .provider-languages, .provider-specialties, .provider-expertise {
      @include make-sm-column(4);
      padding:0px;
      padding-right: 19px;
    }
  }

  h3#education {
    clear:left;
  }

  table {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;

    tr:nth-of-type(odd) {
      background-color: $table-bg-accent;
    }

    td, th {
      border: none;
      padding: 5px;
    }

    // select the first two columns
    th:nth-of-type(-n+2) {
      width: 40%;
    }

    // select the third column
    th:nth-of-type(3) {
      width: 10%;
    }
  }
}
