.page-template-page-ramp-search-php .provider-entry {
  clear: both;
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 20px;
  display: inline-block;
  width: 100%;

  img {
    float: left;
    max-height: 75px;
    margin-right: 15px;
    margin-bottom: 5px;
  }
  h3 {
    margin-top: 0px;
  }

  a, a:visited, a:hover, a:active {
    color: $gold;
    margin-top: 10px;
    margin-bottom: 0px;
  }

  a.btn, a.btn:visited, a.btn:hover, a.btn:active {
    color: $white;
  }

  p {
    a, a:visited, a:active, a:hover {
      color: $link-color;
    }
  }

  p.search-btn {
    clear: both;
  }

  // p:last-child {
  //   margin: 0px;
  // }
}

.page-template-page-ramp-search-php  {
  #map-container {
    height: 218px;
    width: 100%;
    margin:0;
    margin-bottom: $base-spacing;
    padding:0;

    #map {
      height: 100%;
    }
  }

  #locations-listing {

    .row {
      margin-bottom: $base-spacing/2;

      p {
        color: $gold;
        font-weight: bold;
        margin: 0px;
      }

      .col-xs-12 {
        a, a:hover, a:visited, a:active {
          color: $gold;
        }
      }
    }
  }

  .alert .btn {
    margin: 10px 0px 0px 0px;
  }
}

.page-template-page-ramp-search-php .patient-story-entry, .search .patient-story-entry {
  img {
    max-width: 150px;
    margin-right: 15px;
    margin-bottom: 15px;
    float: left;
  }
}

.search {
  .row {
    margin: 0px;
  }
}

.page-template-page-ramp-search-php {
  .row {
    margin: 0 -19px;
  }
}

.page-template-page-ramp-search-php, .search {
  article {
    display: inline-block;
    margin-bottom: $base-spacing*2;
    width: 100%;

    h2 {
      font-size: 16px;
    }
  }

  article:last-of-type {
    margin-bottom: $base-spacing;
  }
}
