// See nwh.js: Using jQuery to change the order of .sidebar and .main
// Could not do this in HTML because of $post dependencies in sidebar
.sidebar.move-to-top {
  @include make-sm-column(3);
  @include make-sm-column-pull(0);
}

.sidebar.move-to-bottom {
  @include make-sm-column(3);
  @include make-sm-column-pull(9);
}

.sidebar {

  @include make-sm-column(3);
  @include make-sm-column-pull(9);

  h3 {
    font-size: 14px;
    font-weight: 700;
    color: $gold;

    a, a:hover, a:active, a:visited {
      color: $gold;
    }
  }

  h4 {
    font-size: 14px;
    color: $gray;
    margin-bottom: $base-spacing/4;
  }

  ul {

    padding-left: $base-spacing;

    li {
      list-style-type: none;
      margin-bottom: $base-spacing/4;

      a, a:active, a:visited {
        color: $gray;
      }

      a:hover {
        color: lighten($gray, 10%);
      }
    }

    li.current_page_item {

      a, a:hover, a:active, a:visited  {
        font-weight: bold;
        color: $green;
      }

      .children {

        a {
          font-weight: normal;
        }

        a, a:active, a:visited {
          color: $gray;
        }

        a:hover {
          color: lighten($gray, 10%);
        }
      }
    }

    @media (max-width: $screen-xs-max) {
      background-color: $light-tan;
      padding: 0px 19px;
      margin: 0px -19px;

      li {
        @media (max-width: $screen-xs-max) {
          margin: 0px -19px;
        }

        a, a:active, a:hover, a:visited {
          @media (max-width: $screen-xs-max) {
            border: 0px none;
            margin: 0px;
            padding: 10px 29px;
            outline: medium none;
            font-weight: bold;
            vertical-align: baseline;
            text-align: left;
            width: auto;
            display: block;
            color: $gold;
            text-transform: uppercase;
            text-decoration: none;
            background: #F4F1E7 none repeat scroll 0% 0%;
            border-radius: 0px;
            font-size: 14px;
            cursor: pointer;
          }
        }

        a:hover {
          @media(max-width: $screen-xs-max) {
            // use a variable for this color
            background: #DBD8CE none repeat scroll 0% 0%;
          }
        }
      }

      li.current_page_item {
        @media(max-width: $screen-xs-max) {
          a, a:hover, a:visited, a:active {
            background: #DBD8CE none repeat scroll 0% 0%;
            color: $gold;
          }
        }
      }
    }
  }

  #sidebar-nav-toggle {
    @media (max-width: $screen-xs-max) {
      min-height: 40px;
      line-height: 40px;
      cursor: pointer;
      background-color: rgb(229, 222, 197);
      padding: 0px;
      margin-left: -19px;
      margin-right: -19px;
    }

    h3#sidebar-nav-heading {
      @media (max-width: $screen-xs-max) {
        margin: 0px;
        text-align: right;
        padding: 13px 19px;
      }

      a, a:hover, a:active, a:visited {
        @media (max-width: $screen-xs-max) {
          text-decoration: none;
          font-size: 12px;
          text-transform: uppercase;
        }
      }

      #sidebar-nav-heading-down-arrow {
        margin-right: 5px;
        width: 22px;
      }
    }
  }
}

#key-contacts {
  margin-top: $base-spacing;

  #sidebar-key-contacts-heading {
    @media (max-width: $screen-xs-max) {
      height: 40px;
      line-height: 40px;
      background-color: rgb(229, 222, 197);
      padding: 0px;
      width: auto;
    }

    h2 {
      font-size: 12px;
      font-weight: bold;
      padding-bottom: 8px;
      border-bottom: 2px solid $medium-tan;
      text-transform: uppercase;

      @media (min-width: $screen-lg-min) {
        width: 60%;
      }

      @media (max-width: $screen-xs-max) {
        margin: 0px;
        line-height: 40px;
        padding: 0px 19px;
      }
    }
  }

  #sidebar-key-contacts-content {
    @media (max-width: $screen-xs-max) {
      margin: 0px 19px;
    }

    h3 {
      font-size: 12px;
      color: #333;
      font-weight: 700;
      margin-bottom: 5px;
      margin-top: 8px;
    }

    p {
      font-size: 12px;
    }

    ul {

      font-size: 12px;
      padding: 0px;
      margin: 0px;

      li {
        list-style-type: none;
        padding: 0px;
        margin: 0px;
      }
    }
  }
}

#right-sidebar {

  a:first-of-type {
    margin-top: 0px;
  }
}

#share-patient-story {
    margin-top: 10px;
}

.provider-sidebar {
  p#primary-flag {
    background-color: $gold;
    margin: 0px;
    padding: 3px 10px;
    font-size: 10px;
    display: inline-block;
    color: white;
  }

  .location {
    h4 {
      margin-bottom: 10px;
    }

    border: 2px solid $gold;
    background-color: $gray-accent;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 12px;

    .phone {
      color: $text-color;
    }

    a.map {
      @include btn;
      @include button-variant($white, $gold, $gold);
      width: 100%;
      text-align: center;
    }
  }
}

.page-template-page-location {
  .sidebar {
    #sidebar-nav-heading-link-xs {
      @extend .visible-xs-inline;
    }

    #sidebar-nav-heading-link-sm {
      @extend .hidden-xs;
    }
  }
}